@font-face {
  font-family: "RobotoCondensed";
  src: url(../fonts/RobotoCondensed-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "RobotoCondensed";
  src: url(../fonts/RobotoCondensed-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Comfortaa";
  src: url(../fonts/Comfortaa-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "MontserratBold";
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: 400;
}
